<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="login" value="somename@i.ua"/>
		<add key="password" value="9671990"/>
		<add key="applicationKey" value="36ym63ktcqhb58xn72ds6joc5yh6nozl"/>
		<add key="serviceUrl" value="https://www.box.net/api/1.0/soap"/>
	</appSettings>
</configuration>